<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">Find our local stores.</p>
  <hr class="my-4">
  <div *ngIf="viewingShop" class="row">
    <div class="col-md-12">
      <div class="alert alert-info">User is viewing {{viewingShop?.name}} located
        at {{viewingShop?.location}}</div>
    </div>
  </div>
  <div *ngIf="error" class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">{{error}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/add-shop" class="btn btn-primary">Add Shop</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 mb-5">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Description</th>
              <th scope="col">Opening Date</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shop of shops; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{shop?.name}}</td>
              <td>{{shop?.location}}</td>
              <td>{{shop?.description}}</td>
              <td>{{shop?.openingDate | date}}</td>
              <td>
                <button (click)="viewDetail(i)" class="btn btn-primary" type="button">
                  <i class="fas fa-info"></i>
                </button>
                <a [queryParams]="{shopId: shop?.id}" [routerLink]="['/add-shop']"
                   class="btn btn-info"><i class="fas fa-edit"></i></a>
                <button (click)="deleteShop(shop?.id)" class="btn btn-danger" type="button">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-about-detail (hideEmitter)="respondHide($event)"
                        (viewEmitter)="respondView($event)"
                        *ngIf="selectedShop"
                        [selectedShop]="selectedShop"></app-about-detail>
    </div>
  </div>
</div>



