<div class="jumbotron">
  <h1 class="display-4">Shop Form</h1>
  <p class="lead">Please add shops</p>
  <hr class="my-4">
  <div class="alert alert-success" *ngIf="responseFlag.success">
    Successfully added shop!!!
  </div>
  <div class="alert alert-danger" *ngIf="responseFlag.failure">
    Failed to add shop!!!
  </div>

  <form (ngSubmit)="submit()" [formGroup]="shopForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input formControlName="name" type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input formControlName="description" type="text" class="form-control" id="description">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input formControlName="location" type="text" class="form-control" id="location">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="shopForm.invalid">Submit</button>
  </form>
</div>

